@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #191919;
  color: white;

  display: flex;
  max-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

canvas {
  background-color: #111;
  filter: blur(4px);
}

.score {
  visibility: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;

  margin-top: 20px;
}

.score-value {
  font-weight: 700;
  font-size: 2rem;

  display: block;
  margin-top: -10px;
}

.menu-screen {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;

  z-index: 1;
}

.game-over {
  text-transform: uppercase;

  font-weight: 700;
  font-size: 3rem;
}

.final-score {
  font-weight: 500;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-play {
  border: none;
  border-radius: 100px;
  padding: 10px 15px 10px 12px;

  font-size: 1rem;
  font-weight: 600;
  color: #333;

  margin-top: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
}

.start-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  z-index: 2;

  background-color: rgba(14, 14, 14, 0.8);
  width: 400px;
  height: 300px;
}

.start-menu h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

.start-menu button {
  width: 100px;
  height: 50px;
  border: 1px solid white;

  background-color: rgba(255, 255, 255);

  font-size: 1.2rem;
  font-weight: 500;

  cursor: pointer;
}

h2 {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 3;
}

@media (max-width: 769px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
  }

  .score {
    margin-top: 30px;
  }

  canvas {
    margin-top: 10px;
    margin-bottom: 0;

    width: 490px;
    height: 490px;
  }
}

/* versão do celular */
@media (max-width: 505px) {
  body {
    overflow: hidden;
  }

  canvas {
    width: 360px;
    height: 390px;
  }

  /* .score {
    margin-top: -10%;
  } */

  .start-menu {
    margin-top: 25%;
    width: 330px;
    height: 270px;
  }
}
/* 
@media (max-width: 370px) {
  canvas,
  .score,
  .menu-screen,
  .start-menu {
    display: none;
  }
  h2 {
    display: flex;
  }
} */
