@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #191919;
  color: white;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

canvas {
  background-color: #111;
  filter: blur(4px);
}

.score {
  visibility: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
}

.score-value {
  font-weight: 700;
  font-size: 2rem;

  display: block;
  margin-top: -10px;
}

.menu-screen {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;

  z-index: 1;
}

.game-over {
  text-transform: uppercase;

  font-weight: 700;
  font-size: 3rem;
}

.final-score {
  font-weight: 500;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-play {
  border: none;
  border-radius: 100px;
  padding: 10px 15px 10px 12px;

  font-size: 1rem;
  font-weight: 600;
  color: #333;

  margin-top: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
}

.start-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  z-index: 2;

  background-color: rgba(14, 14, 14, 0.8);
  width: 400px;
  height: 300px;
}

.start-menu h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

.start-menu button {
  width: 100px;
  height: 50px;
  border: 1px solid white;

  background-color: rgba(255, 255, 255);

  font-size: 1.2rem;
  font-weight: 500;

  cursor: pointer;
}

#tablet,
#phone {
  position: fixed;
  visibility: hidden;
}

@media (max-width: 769px) {
  canvas {
    width: 520px;
    height: 520px;
  }
}

/* versão do celular */
@media (max-width: 426px) {
  canvas {
    width: 360px;
    height: 510px;
  }
}
